.form-group(ng-class='{"has-error": errors}')
  label.col-sm-2.control-label {{ label }}
  .col-sm-10
    input.form-control(type='text', ng-model='model')
    p.help-block(ng-repeat='msg in errors') {{ msg }}
