.form-group(ng-class='{"has-error": errors}')
  label.col-sm-2.control-label {{ label }}
  .col-sm-10
    select.form-control(ng-model='model', ng-transclude)
    p.help-block(ng-repeat='msg in errors') {{ msg }}
