.form-group(ng-class='{"has-error": errors}')
  label.col-sm-2.control-label {{ label }}
  .col-sm-10
    textarea.form-control(ng-model='model', rows='4')
    p.help-block(ng-repeat='msg in errors') {{ msg }}
