.modal-header
  button.close(type='button', ng-click='$dismiss("close")', aria-hidden='true') &times;
  h4.modal-title Confirm delete
.modal-body
  p
    | Are you sure you want to delete <strong> {{ deleteText }} </strong>
  .form-group
    label Type DELETE (all caps) below to confirm
    input.form-control(type='text', ng-model='confirm', tabindex='1', autofocus)
.modal-footer
  button.btn.btn-default(ng-click='$dismiss("cancel")') Cancel
  button.btn.btn-danger(ng-click='$close()', ng-disabled='confirm !== "DELETE"') Delete
